body{
  background-image: url("images.jpeg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container{
  width: 90%;
  background-color: transparent;
  color: #F11313;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #779D86;
  display: flex;
  flex-direction: column ;
  align-items: center;
  justify-content: center;
  z-index: 10;
  position: relative;
  animation: 0.5s ease forwards;
}

.contact-info{
  height: 390px;
  width: 310px;
  background-color: transparent;
  box-shadow: -2px -2px 3px #779D86;
  display: none;
  position: absolute;
  z-index: 50;
  border-radius: 10px;
  
}

@keyframes fadeIn{
  0%{
    opacity: 1;
  }
  25%{
    opacity: 0.8;
  }
  50%{
    opacity: 0.5;
  }
  80%{
    opacity: 0.2;
  }
  100%{
    opacity: 0;
  }
  
}

.text{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8FDCE5;
}

.text p{
  font-size: 25px;
  font-weight: bolder;
}
.less{
  margin-top: 0px;
}

.contact-info.show{
  display: block;
  z-index: 4;
  
}

.profile-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}
h2{
  margin-bottom: 5px;
  color: #5870E6;
}
.title{
  margin-top: 5px;
}

.stat-box{
  margin: 5px;
  color: #79D941;
}
.actions{
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
button{
  height: 50px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background-color: #E1AD60;
  font-weight: 700;
  font-size: 18px;
}
